<!DOCTYPE html>
<html>
<head>
	<title>Favorite Numbers</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H2><%=user_name%> ENTER YOUR 3 FAVORITE NUMBER(S)</H2>
<form action="get_favorites" method="post" >
<input field name="num1" placeholder="NUMBER 1">
<input field name="num2" placeholder="NUMBER 2">
<input field name="num3" placeholder="NUMBER 3">
<input type = "text" name="user_name" value = <%=user_name%> hidden>
<input type = "text" name="user_age" value = <%= user_age %> hidden>

<input type="submit" value="SEND">
</center>
</body>
</html>


