<!DOCTYPE html>
<html>
<head>
	<title>Favorite Numbers</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H2>WHAT'S YOUR NAME</H2>
<form action="get_name" method="post">
<input field name="user_name">
<input type="submit" value="SEND">
</center>
</body>
</html>


