<!DOCTYPE html>
<html>
<head>
	<title>Favorite Numbers</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H2>RESULTS</H2>
<h3><%=user_name%></h3>
<h3>You are <%=user_age%> old!</h3>
</center>
</body>
</html>


