<!DOCTYPE html>
<html>
<head>
	<title>Favorite Numbers</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H2><%=user_name%> WHAT'S YOUR AGE</H2>
<form action="get_age" method="post">
<input field name="user_age">
<input type = "text" name="user_name" value = <%=user_name%> hidden>
<input type="submit" value="SEND">
</center>
</body>
</html>

